{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url 'home' %}">Home</a></div>
{% endblock %}


{% block content %}

User: {{ user }}
<br>
<br>

<h1>Login</h1>

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {{ form }}
        {% csrf_token %}
        <button type="submit">Submit</button>
    </form>
    <br>
    <br>
    <a href="{% url 'password_reset' %}">Forgot password?</a>

{% endblock content %}